# Database Configuration
MYSQL_DATABASE=restaurant_db
MYSQL_USER=restaurant_user
MYSQL_PASSWORD=restaurant_password
MYSQL_ROOT_PASSWORD=root_password

# Port Configuration
SPRING_LOCAL_PORT=8081
FRONTEND_PORT=3000

# Security (JWT)
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

# VietQR Configuration (Tùy chọn)
BANK_BIN=970436
BANK_ACCOUNT_NUMBER=0123456789
BANK_ACCOUNT_NAME=NHA HANG ABC
